* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
  }
  /* ------------------ NAV -------------- */
  .nav-index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 0 20px;
  }
  .logo img {
    background-color: black;
  }
  .nav-index ul{
    background-color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
  }
  .nav-index li{
    margin: 10px;
  }
  .nav-index a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .nav-index li a{
    transition:  all 0.5s ease;
  }
  .nav-index li a:hover{
    padding: 5px 10px;
    background-color: #fff;
    color: black;
    border-radius: 15px;
  }
  /* ------------------- MAIN INDEX------------------- */
  .container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      ". imagen-1 imagen-1 ."
      ". imagen-2 imagen3 .";
    background-color: rgba(255, 255, 255, 0.269);
    overflow: hidden;
    gap: 35px;
  }
  
  .imagen-1{
    grid-area: imagen-1;
    background-image: url(../images/photo-1593079831268-3381b0db4a77.avif);
    height: 750px;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    position: relative;
    border-radius: 5%;
    z-index: 2;
    transition: 1.5s;
    box-shadow: 10px 3px 10px rgba(21, 16, 16, 0.3) 
  }
  .imagen-1:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }
  
  .imagen-2 {
    grid-area: imagen-2;
    background-image: url(../images/pexels-photo-841130.jpeg);
    background-size: cover;
    background-position: center;
    height: 650px;
    position: relative;
    border-radius: 5%;
    transition: 1.5s;
    box-shadow: 10px 3px 10px rgba(21, 16, 16, 0.3) 
  }
  .imagen-2:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }
  
  .imagen3 {
    grid-area: imagen3;
    background-image: url(../images/instructor\ de\ gym-1611452143.webp);
    background-size: cover;
    background-position: center;
    height: 650px;
    position: relative;
    border-radius: 5%;
    transition: 1.5s;
    box-shadow: 10px 3px 10px rgba(21, 16, 16, 0.3) 
  }
  .imagen3:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }
  .btn-button{
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 50px;
    text-decoration: none;
    font-size: 30px;
  }
  /* -------------------------- MAIN CONTACTO--------------------------------- */
  .contacto h1 {
    padding-left: 70px;
    padding-top: 10px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  form {
    padding-top: 10px;
    background-color: black;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .contacto img {
    width: 900px;
    padding-left: 10px;
  }
  .contacto p {
    font-weight: 600;
  }
  
  /* -------------------------- MAIN SEDES------------------------------ */
  .contenido-tarjeta{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
  }
  .tarjeta{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: 2s;
  }
  .tarjeta img{
    width: 100%;
    height: 50%;
  }
  .tarjeta-contenido{
    padding: 20px;
    background-color: #fffaf0;
    height: 100%;
  }
  .tarjeta-contenido h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tarjeta-contenido p{
    font-size: 15px;
    margin-bottom: 20px;
  }
  .tarjeta-button{
    display: inline-block;
    background-color: aqua;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 16px;
  }
  .tarjeta:hover {
    transform: scale(1.1);
    transition: 2s;
  }
  
  /* --------------------------------- MAIN RRHH----------------------------- */
  .rrhh1 img{
    height: 600px;
    padding-left: 500px;
  }
  .rrhh1 h1{
    color: yellow;
    text-align: center;
  }
  .rrhh1 h3{
    text-align: center;
    font-weight: 700;
    padding-left: 20px;
  }
  .rrhh2{
    margin: 40px;
  }
  .rrhh2 h3{
    padding-left: 10px;
    font-weight: 700;
    color: aquamarine;
  }
  .rrhh2 p{
    padding-right: 1500px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 2px solid black;
  }
  /* --------------------------------- FOOOTER------------------------ */
  .iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .footer a{
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
  .logo-fot img{
    height: 75px;
  }
  
  
  
  /* MOBILE LAST */
  @media (max-width: 768px) {
    .seccion-principal {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "imagen-principal"
        "segundo-art"
        "tercer-art";
    }
  }
  @media (max-width: 450px) {
    .nav-index {
      flex-direction: column;
    }
  }